html
{
	font-family: "helvetica neue", "Arial", sans-serif;
}
body
{
	background-color: black;
	margin: 0;
}
header
{
	height: 80px;
	background-color: #ffffff;
}
#header-container
{
	width: 75%;
	margin: auto;
}
.col-3
{
	width: 33%;
	float: left;
}
.logo
{
	padding-top: 30px;
}
.menu
{
	margin-top: 32px;
}
.menu li
{
	list-style-type: none;
	display: inline;
	font-size: .85em;
	color: #8e8e8e;
	padding-right: 30px;
}
.getStartedBTN
{
	background-color: #6dc77a;
	border-radius: 28px;
	-moz-border-radius: 28px;
	-webkit-border-radius: 28px;
	text-decoration: none;
	color: #ffffff;
	padding: 10px 26px;
	margin-top: 20px;
	display: inline-block;
	font-size: 17px;
	float: right;
}
#top-section-main
{
	background-image: url(../images/Friends.jpg);
	height: 740px;	
	border: none;	
}
#top-section-content h1{
	font-size: 4em;
	font-weight: 300;
	color: #ffffff;
	text-align: center;
	margin-top: 0;
}
#top-section-content p {
	font-size: 1.3em;
	font-weight: 400;
	color: #ffffff;
	text-align: center;
}
#top-section-content{
	width: 60%;
	margin-left auto;
	margin-right: auto;
	margin-top 0;
}








